<!DOCTYPE html>
<html lang="en">
<head>
    <title>Anagrams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <script src="/angular/angular.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="Anagrams">
	<h3>Welcome to Anagrams</h3>
    <div ng-controller="boardCtrl" class="container">
    <div ng-hide="phone">
    <h4>Rules of the Game</h4>
    <ul>
    <li>Player 1 flips the first tile, and then take turns flipping one at a time</li>
    <li>If you see a word that can be made from the main pile, type it in and submit it</li>
    <li>Words must be at least 3 letters long and be found in the English dictionary</li>
    <li>You can also steal a word from another player by adding a letter to the word from the main pile, but you have to change the meaning of the word (just adding an "s" doesn't count)</li>
    </ul>
    <h1 ng-show="gameOver">{{gameOver}}</h1>
    </div>
    <h4 ng-hide="phone">There are {{chars.length}} tiles left</h4>
    <button ng-show="!charsLeft && !phone" type="submit" class="btn btn-success" ng-click="score()" >Please score us, Ms. Computer</button>
    <h4 ng-show="phone">You are Player {{currentPlayer.number}}</h4>
    <h4 ng-show="phone">Good luck!</h4>
    <p>
    <span ng-hide="phone" ng-repeat="tile in tiles">
	<button class="btn-lg btn-warning" preventdefault>{{ tile.letter }} </button><span> </span></span>
    </p>
    <!-- ng-hide="!phone" -->
    <form  class="form-inline">
    <input type="text" ng-model="myWord" name="myWord">
    <button type="submit" class="btn btn-success" ng-click="newWord()">Submit word</button>
    </form>
    <br>
    <p ng-show="error" class="text-danger">{{error}}<p>
    <br>
    <!-- ng-hide="!phone" -->
    <button  type="submit" class="btn btn-success" ng-click="newTile()" >Flip a New Tile</button>
    
    <div class="row">
    <div class="col-md-4" ng-hide="phone" ng-repeat="player in players">
    <h4>Player {{player.number}}'s Words:</h4>
    <ul>
        <li ng-repeat="word in player.words">{{ word }} </li>
    </ul>
    </div>
    </div>

    </div>
</body>
</html>


