<!DOCTYPE html>
<html lang="en">
<head>
    <title>Anagrams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <script src="/angular/angular.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="Anagrams">
	<h3>Welcome to Anagrams</h3>
	<div ng-controller="boardCtrl" class="container">
    <p>
    <span ng-repeat="tile in tiles">
	<button class="btn-lg btn-warning">{{ tile.letter }} </button><span> </span></span>
    </p>
    
    <form ng-hide="phone" class="form-inline">
    <input type="text" ng-model="myWord" name="myWord">
    <button type="submit" class="btn btn-success" ng-click="newWord()">Submit word</button>
    </form>
    <br>
    <p ng-show="error" class="text-danger">{{error}}<p>
    <br>
    <button type="submit" class="btn btn-success" ng-click="newTile()" ng-hide="!phone">New Tile</button>
    
    <div ng-hide="phone">
    <h4>My Words:</h4>
    <ul>
        <li ng-repeat="word in words">{{ word }} </li>
    </ul>
    </div>

    </div>
</body>
</html>


