<div >
<h2 >Start a new game</h2>
<form class="form-inline">
<label for="gameName"> Create a name for your game</label>
<input type="text" ng-model="gameName" name="gameName">
<button type="submit" class="btn btn-success" ui-sref="gameState({gameName: gameName})">Go!</button>
</form>
</div>
<!-- <h2 ng-show="phone">Open up this site on a desktop to start a new game, or enter the name of the game you wish to join</h2>
<form ng-show="phone"> -->
<!-- <input type="text" ng-model="mobileGameName" name="mobileGameName" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
<button type="submit" class="btn btn-success" ui-sref="gameState({gameName: mobileGameName})">Go!</button>
</form> -->