button:hover {
    cursor: default;
    background-color: #f0ad4e;
}

.btn-warning:hover {
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-warning {
	margin-bottom: 5px;
	width: 5%;
}

h2 {
	margin-left: 2%;
}

.btn-lg {
	padding: 10px 0px;
}